.sidebar-category{
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-top-color: rgba(128, 137, 150, 0.1);
}
.modal{
    background: rgba(0,0,0,0.5);
}
.carousel-action .owl-dots {
    width: 100%;
    text-align: center;
    padding-top: 0px;
}
.carousel-action .owl-dots button {
    width: 13px;
    height: 13px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid rgba(19, 41, 104, 0.1);
    display: inline-block;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin: 0 2px;
}
.carousel-action .owl-dots button.active {
    background-color: #287dfa;
    border-color: #287dfa;
    outline: none !important;
}
.carousel-action .owl-dots button:focus {
    outline: none !important;
}

.hero-wrapper .fullscreen-slide-contain .owl-item{
    height: 512px;
}

.hero-box::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.venue-details-carousel-action .owl-nav div.owl-prev{
    left: 5px;
}

.venue-details-carousel-action .owl-nav div.owl-next{
    right: 5px;
}

.venue-details-carousel-action .owl-stage-outer::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.single-content-wrap img{
    max-width: 100%;
}

.btn-outline-none:hover, .btn-outline-none:focus, .theme-btn:focus, .theme-btn:hover{
    outline: none;
}

.disabled, .disabled:hover, .disabled:focus{
    cursor: not-allowed;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
    color: #ffffff;
}

.flex-direction-column{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sidebar-widget .sidebar-category .collapse.show{
    max-height: 700px;
    overflow-y: auto;
}

.custom-breadcrumb{
    background-color: transparent;
    font-size: 15px;
    margin-bottom: 0;
    padding: 0;
}